@font-face {
  font-family: '3betters';
  src: url("fonts/3betters.eot");
  src: url("fonts/3betters.eot?#iefix") format("embedded-opentype"), url("fonts/3betters.ttf") format("truetype"), url("fonts/3betters.woff") format("woff"), url("fonts/3betters.svg#3betters") format("svg");
  font-weight: normal;
  font-style: normal; }

[class*="icon-"] {
  font-family: '3betters';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-enter:before {
  content: "\e602"; }

.icon-exit:before {
  content: "\e603"; }

.icon-moneybag:before {
  content: "\e604"; }

.icon-home:before {
  content: "\e600"; }

.icon-hammer:before {
  content: "\e601"; }
